$def with(tam,mous_searh)
<!doctype html>
<html>
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
      <script>
          var mous_in = "$mous_searh";
          var lengthFile = "$tam";
          var directionUrl = "http://provider.chivo.cl/fitsprovider?mous=";
          function bytesToSize(bytes) {
             var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
             if (bytes == 0) return '0 Byte';
             var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
             return Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
          };          
          var confirmed = confirm("The total size of files is: "+bytesToSize(lengthFile)+" \nContinue ?");
          if (confirmed){
            window.location.replace(directionUrl+mous_in);
          } else {
            alert('Download Cancelled');
            window.close();
          }
      </script>
    </body>
</html>
